body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff5f7;
}

header {
  background-color: #d2691e;
  padding: 15px;
  text-align: center;
  color: white;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  background-color: #ffe4e1;
  padding: 40px;
  text-align: center;
}

.banner h1 {
  color: #8b4513;
}

.container {
  padding: 30px;
  text-align: center;
}

.bolos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bolo {
  background-color: white;
  border-radius: 10px;
  width: 240px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bolo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.bolo h3 {
  margin: 10px 0 5px;
  color: #8b4513;
}

.bolo p {
  font-size: 14px;
  color: #555;
}

/* INFO DO CARDÁPIO */
.info {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: left;
}

.info li {
  font-size: 14px;
  margin-bottom: 5px;
}

/* BOTÃO DO CARDÁPIO */
.botao-cardapio {
  display: inline-block;
  margin-top: 10px;
  background-color: #d2691e;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.botao {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

footer {
  background-color: #d2691e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
